@font-face {
  font-family: "Open Sans";
  src: url("/assets/OpenSans.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/Montserrat.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/Roboto.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("/assets/Raleway-Medium.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/assets/Raleway-Light.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/assets/Raleway-Medium.otf");
  font-weight: 500;
}
