<h3>
  Events
</h1>

<div ng-repeat="entry in events">
  <h5 class="event-title">
    {{ entry.date | amParse | amLocal | amCalendar }}: {{ entry.name }}
  </h5>
  <div ng-hide="{{ entry.location == null || entry.location == '' }}">
    Location: {{ entry.location }}
  </div>
  <div ng-hide="{{ entry.eventLength == null || entry.eventLength == '' }}">
    Length: {{ entry.eventLength }} minutes
  </div>
  <p>
    <i>{{ entry.description }}</i>
  </p>
</div>

<div class="text-center" ng-show="events.length > 0">
  <pagination
    ng-model="currentPage"
    total-items="eventCount"
    max-size="5"
    items-per-page="entriesPerPage"
    class="pagination-sm"
  ></pagination>
</div>

<div class="text-center" ng-hide="events.length > 0">
No events recorded.
</div>
