<h3>
  Journal
</h1>

<div ng-repeat="entry in journal">
  <h5 class="journal-title">
    {{ entry.date | amParse | amLocal | amCalendar }}
    <i ng-show="{{ entry.clinician === true }}" class="fa fa-heartbeat"></i>
  </h5>
  <div ng-hide="{{ entry.mood == null || entry.mood == '' }}">
    Mood: {{ entry.mood }}
    <span ng-hide="{{ entry.moodEmoji == null || entry.moodEmoji == '' }}">{{ entry.moodEmoji | emoji }}</span>
  </div>
  <div ng-show="{{ $index == 1 }}">
    Meditation<span>: 90 minutes</span>
  </div>
  <p>
    <i>{{ entry.text }}</i>
  </p>
</div>

<div class="text-center" ng-show="journal.length > 0">
  <pagination
    ng-model="currentPage"
    total-items="journalCount"
    max-size="5"
    items-per-page="entriesPerPage"
    class="pagination-sm"
  ></pagination>
</div>

<div class="text-center" ng-hide="journal.length > 0">
  No journal entries recorded.
</div>
