<h3>
  Medications
</h1>

<table class="table table-striped" ng-show="medications.length > 0">
  <tr ng-repeat-start="medication in medications" data-toggle="collapse" data-target="{{ medication.id }}">
    <td>
      <a href ng-click="medication.expanded = !medication.expanded">{{ medication.name }}</a>
      <span ng-class="medication.status == 'active' ? 'label label-success status' : 'label label-default status'">
        {{ medication.status }}
      </span>
    </td>
  </tr>
  <tr ng-repeat-end ng-show="medication.expanded">
    <td>
      <!-- only showing fields from mobile app -->
      <div>
        <label>Name</label>
        {{ medication.name }}
      </div>
      <div>
        <label>Brand</label>
        {{ medication.brand }}
      </div>
      <div>
        <label>Schedule</label>
        {{ medication.schedule_summary }}
      </div>
      <div ng-hide="medication.notes == null || medication.notes == ''">
        <div><label>Notes:</label></div>
        {{ medication.notes }}
      </div>
      <div ng-show="medication.take_with_food == true">
        <label>Take with food</label>
      </div>
      <div ng-show="medication.take_with_food == false">
        <label>Take with food</label>
      </div>

      <div ng-show="medication.schedule.regularly == true">
        <label>Times:</label>
        <ul class="times">
          <li ng-repeat="time in medication.schedule.times">
            <b>{{ time.heading }}</b> - {{ time.description }}
          </li>
        </ul>
      </div>
    </td>
  </tr>
</table>

<div class="text-center" ng-show="medications.length > 0">
  <pagination
    ng-model="currentPage"
    total-items="medicationsCount"
    max-size="5"
    items-per-page="medicationsPerPage"
    class="pagination-sm"
  ></pagination>
</div>

<div class="text-center" ng-hide="medications.length > 0">
  No medications recorded.
</div>
