header{
  background:#333333;
  .img-navbar-logo {
    max-width: 30px;
    max-height: 30px;
    margin: -5px 10px;
  }
  .img-navbar-avatar {
    max-width: 30px;
    max-height: 30px;
    @extend .img-circle;
    margin: 10px;
  }
  .navbar-default {
    .navbar-toggle{
      border-color: white;
      border-radius: 0px;
      &:hover{
        border-color:#dddddd;
        background:white;
      }
      .icon-bar{
        background-color: white;
      }
    }

    background-color: #faa91d;
    .navbar-brand {
      color: white;
      &:hover, &:focus{
        color: white;
      }
    }
    border: none;

    .navbar-nav{
      > li > a {
        color: white;
        font-weight: normal;
        font-family: "Montserrat", serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        &:hover, &:focus{
          color: #5e5e5e;
          background:none;
        }
      }
    }
  }
}

#main {
  margin-top: 20px;
}

.page-header {
  margin: 0 0 20px;
}

.wr_td_footer {
  vertical-align: top;
}
