<div class="row">
  <h1 class="page-header">
    Patients
  </h1>

  <input ng-model="lastName" ng-change="search()" class="form-control" placeholder="Last name">

  <div ng-repeat="patient in patients">
    <a href ui-sref="patients.detail.medications({id: patient.id})" >{{patient.id}}</a>
    {{patient.first_name}} {{patient.last_name}}
    <pre>{{patient}}</pre>
  </div>

  <pagination
    total-items="patientsCount"
    max-size="5"
    page="currentPage"
    items-per-page="patientsPerPage"
    class="pagination-sm"
  ></pagination>
</div>
