<h3>Adherences</h3>

<div ng-repeat="day in schedule" ng-if="day.events.length > 0">
  <h5 class="adherence-title">{{ day.title }}</h5>
  <i>
    {{ day.statistics.doses }} Doses,
    {{ day.statistics.events }} Events
        ({{ day.statistics.taken }} Taken,
        {{ day.statistics.skipped }} Skipped,
        {{ day.statistics.notRecorded }} Not Recorded)
  </i>
  <ul>
    <li ng-repeat="event in day.events">
      <b>{{ event.title }}</b>: {{ event.medication_label }}
      <span ng-class="event.outcome == 'taken' ? 'label label-success' : (event.outcome == 'skipped' ? 'label label-danger' : 'label label-default') ">
        {{ event.outcome }}
      </span>
      <p ng-hide="{{ event.note == null || event.note == '' || event.note == ' (no note)'}}">
        {{ event.note }}
      </p>
    </li>
  </ul>
</div>
