<div class="alert alert-danger" ng-hide="error == null">
  {{ error }}
</div>

<div class="jumbotron" ng-hide="authenticated">
  <div class="row">
    <div class="col-sm-8">
      <h1>OrangeRx</h1>
      <p>
        Clinical web interface to access medication adherence data for Amida's OrangeRx.
      </p>
    </div>

    <div class="col-sm-4">
    <div class="panel panel-default">
    <div class="panel-body">
      <h4>Login</h4>
      <form ng-submit="login()">
        <div class="form-group">
          <label for="email" class="sr-only">Email address</label>
          <input type="email" id="email" ng-model="credentials.email" class="form-control" placeholder="Email address" required autofocus>
        </div>

        <div class="form-group">
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" ng-model="credentials.password" class="form-control" placeholder="Password" required>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="jumbotron" ng-show="authenticated">
  <h1>OrangeRx</h1>
  <p>
    Clinical web interface to access medication adherence data for Amida's OrangeRx.
  </p>
</div>

<div class="panel panel-body" ng-show="authenticated">
  Welcome! Go to your <a href ui-sref="patients">patients</a> to view adherence data.
</div>
